RewriteEngine On

RewriteCond %{REQUEST_URI} !^/web-2025-project/backend/

RewriteRule ^$ frontend/index.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ frontend/$1 [L]
